h2 {
    color: red;
    background-color: lightgreen;
    border-radius: 10px;
    border-top: dashed green;
    border-bottom: dashed orange;
    border-left: dashed blue;
    border-right: dashed purple;
}
h2:hover {
    color: blue;
    background-color: yellow;
}
p {
    color: lightgreen;
    background-color: red;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
}