body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;
}

#studentRegistrationID {
    margin: 200px auto;
    width: 250px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.studentRegistrationID-group {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: lightblue;
}
.studentFormError {
    background-color: grey;
}

.studetErrorMessage{
    color: red;
    background-color: lightcoral;
    text-align: center;
    padding: 8px;
}